@import "../assets/stylesheets/bootstrap/_variables.scss";
@import "../assets/stylesheets/bootstrap/_mixins.scss";

/*smart novel original css */

// =======================
// ゲーム画面設定
// =======================

.tyrano_base {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    @media screen and (min-width: $screen-sm-min) {
        margin: 40px auto;
    }
    @media screen and (max-width: $screen-sm-min) {
        width: 100%
    }
}

// =======================
// テキスト表示
// =======================

/*ウェブフォントを使用する場合はここ*/
/* Firefox, Opera, Safari */

@font-face {
    font-family: "mplus-1p-regular";
    src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf') format("truetype");
}

/*テキストボックスの共通スタイル*/
.text_box {}

// 縦書き
.vertical_text {
    font-family: '$font-family-sans-serif';
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    float: right;
}

// メッセージでピコピコ動く画像
.img_next {
    padding-left: 3px;
}

// =======================
// menus
// =======================

.layer_menu {
    display: none;
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('images/kag/menu_bg.jpg') no-repeat bottom left;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .menu{
        width: 100%;
        height: 100%;  
        margin: 0;
        padding: 0 0 410px; 
        border: 1px solid #000; 
    }
}

.menu_close {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-btn{
    margin: 0 auto;
    margin-bottom: 20px;
}

.button_menu {
    position: absolute;
    z-index: 99999;
    top: 0;
    right: 0;
    cursor: pointer;
}

.log_body {
    overflow-y: scroll;
    max-height: 380px;
    padding: 20px;
    text-align: left;
    background: rgba(255, 255, 255, .8);
    border: 1px solid #dfdfdf;
    border-radius: 10px;
}