@charset "UTF-8";
/*smart novel original css */
.vertical_text {
  font-family: '$font-family-sans-serif';
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  float: right; }

.layer_menu {
  display: none;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%; }

.save_menu_font {
  color: gray; }

/*メニュ－ボタン系*/
.menu_item {
  position: relative;
  margin-top: 3%;
  text-align: center;
  cursor: pointer; }
  .menu_item img {
    width: auto;
    max-width: 80%;
    max-height: 10%; }

.display_menu .button:first-child {
  margin-top: 0; }

.display_menu {
  overflow: visible;
  padding: 0;
  position: relative; }

/*セーブ・ロードのテキスト部分の文字のスタイルを指定できます*/
.save_menu_date_font {
  font-size: 10px; }

/*セーブ・ロード画面のテキスト部分のスタイルを指定できます。*/
.save_menu_text_font {
  font-size: 14px; }

/*セーブ・ロードデータの行間などが調整できます*/
.save_display_area {
  margin-top: 20px; }

.layer_event_click {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0); }

.button_menu {
  position: absolute;
  z-index: 99999;
  top: 0;
  right: 0;
  cursor: pointer; }

/*次へのクリックを促すアイコン*/
.img_next {
  padding-left: 3px; }

/*ウェブフォントを使用する場合はここ*/
/* Firefox, Opera, Safari */
@font-face {
  font-family: mplus-1p-regular;
  src: url("http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf") format("truetype"); }

/*テキストボックスの共通スタイル*/
.tyrano_base {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none; }
  @media screen and (min-width: 768px) {
    .tyrano_base {
      margin: 40px auto; } }
  @media screen and (max-width: 768px) {
    .tyrano_base {
      width: 100%; } }

/*
 CSSを修正することで、ゲーム画面をカスタマイズすることが可能です
 * */
/* 背景処理のための高さを調整 */
html, body {
  height: 100%; }

body {
  background: #ffe8d2 url("../assets/images/bg-kokemusaz.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-tap-highlight-color: transparent; }

.nav.navbar-nav li a {
  color: #352625;
  text-decoration: none; }
  .nav.navbar-nav li a:hover {
    color: #6b4845;
    text-decoration: underline; }

.introduction {
  margin-top: 60px; }
  .introduction p {
    margin-top: 20px;
    padding: 24px 12px;
    background: #FFF;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
  .introduction a {
    display: block;
    float: right;
    width: 15em;
    margin-top: -20px;
    margin-right: 20px;
    padding: 12px 12px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    background: #352625;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    .introduction a:hover {
      color: #FFF;
      background: #000; }
