/*reset css */
body{
	-webkit-text-size-adjust: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	padding:0;
	margin:0;
}
table {
	border-collapse: collapse;
	border-spacing:0;
}
fieldset, img {
	border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight:normal;
	font-style:normal;
}
ol, ul {
	list-style:none;
}
caption, th {
	text-align:left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-size:100%;
}
q:before, q:after {
	content:'';
}
abbr, acronym {
	border:0;
}
/*smart novel original css */

.vertical_text {
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*color:white;*/
    writing-mode:vertical-rl;
	-webkit-writing-mode:vertical-rl;
	float:right;/*height : 960px ;*/
}
.layer_menu {
	display:none;
	font-size:1.3em;
	font-weight:bold;
	position:absolute;
	width:100%;
	height:100%;/*background-color:#000;
	opacity: 0.8;
filter: alpha(opacity=80);*//*IE7*/
}
.save_menu_font {
	color:gray;
}
/*メニュ－ボタン系*/
.menu_item {
	position:relative;
	text-align:center;
	cursor:pointer;
	line-height:0;
}
.menu_close {
	position:absolute;
	/*margin-left:-120px;*/
	right:120px;
}
.menu_item img {
	width:auto/*;max-width:80%;max-height:10%;*/
}
.display_menu .button:first-child {
	margin-top:0;
}
.display_menu {
	overflow:visible;
	padding:0;
	position:relative;/*overflow:visible;padding:2%;display:table-cell;vertical-align:middle*/
}
/*セーブ・ロードのテキスト部分の文字のスタイルを指定できます*/
.save_menu_date_font {
	font-size:14px;
	margin-bottom:8px;
	text-align:right;
	display:block;
	color:#FA4753;
}
/*セーブ・ロード画面のテキスト部分のスタイルを指定できます。*/
.save_menu_text_font {
	font-size:18px;
	line-height:1.2em;
	text-align:left;
	display:block;
}
/*セーブ・ロードデータの行間などが調整できます*/
.save_display_area {
	margin:20px 15% 0 15%;
	padding:5px;
	display:block;
	position:relative;
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #FFFFFF;
}
.addSaveCharaSpan{
	position:absolute;
	top:5px;
	left:5px;
	font-weight:bold;
}
.layer_event_click {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);
}
.button_menu {
	position:absolute;
	z-index:999998;
	top:20px;
	cursor:pointer;
	display:none;
}
/*
 CSSを修正することで、ゲーム画面をカスタマイズすることが可能です
 * */

/*ゲーム枠の外側の色を指定します*/

body {
	background-color:black;
	-webkit-tap-highlight-color: transparent;
}
/*次へのクリックを促すアイコン*/

.img_next {
	padding-left:3px;
}

/*ウェブフォントを使用する場合はここ*/

/* Firefox, Opera, Safari */
@font-face {
/*font-family:webfont;*/
font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
src:url("../data/others/TanukiMagic.ttf") format("truetype");
}
/*IE*/
@font-face {
/*font-family: webfont;*/
font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
src: url("./data/others/TanukiMagic.eot");
}
/*テキストボックスの共通スタイル*/
.text_box {
}
.tyrano_base {
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
}
.message0_fore .chara_name_area {
	background:url(../data/image/nameBg.png) top left no-repeat;
	padding:30px 0 70px 40px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.message0_fore .message_inner p {
	margin:60px 80px 0 40px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.message1_fore .message_inner p {
	margin:50px 70px 0 60px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.secTitle {
	width:400px;
	height:200px;
	font-size:300%;
	text-align:left;
	line-height:200px;
	color:#FFF;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-shadow: -2px -2px 0px #000;
	-moz-box-shadow: -2px -2px 0px #000;
　/* Firefox用 */  
-webkit-box-shadow: -2px -2px 0px #000;
　/* Safari,Google Chrome用 */
}
/*---------------------------------
dataStyle
---------------------------------*/


.dataStyleWrap {
	width:950px;
	clear:both;
	display:block;
	color:#000;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background:url(images/kag/menu_save_bg.png) left top no-repeat;
	padding:5px;
}
.dataStyle {
	height:490px;
	padding:20px;
	background-color:rgba(255, 255, 255, 0.8);
	position:relative;
}

.dataStyle.pink {
	background-color:rgba(255, 125, 152, 0.5);
	color:#fff;
}
.columWrap {
	clear:both;
	zoom:100%;
}
.columWrap:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.colum {
	float:left;
	width:48%;
	margin-right:2%;
}
.pink .colum {
	width:50%;
	margin:0px;
}
.pink .colum ul{
	width:360px;
	margin:0 auto;
}

.pink .colum ul li{
	height:40px;
	background:url(images/kag/commonItem.png) right center no-repeat;
	background-color:rgba(255, 255, 255, 0.80);
	border:1px solid #fff;
	margin-bottom:25px;
	padding:10px;
	line-height:40px;
}
.dataStyle h1, .dataStyle h2, p {
	margin:0px;
	padding:0px;
}
.h1Style{
	color:#FFF;
	font-size:40px;
}
.dataStyle h1,.h1Style {
	margin:0px 0px 25px 0px;
	font-size:32px;
	line-height:2em;
	padding-left:10px;
	font-weight:bold;
	text-align:center;
	text-shadow: 0px 0px 10px #fff;
	-moz-box-shadow:0px 0px 10px #fff;
　/* Firefox用 */  
-webkit-box-shadow: 0px 0px 10px #fff;
　/* Safari,Google Chrome用 */
}

.dataStyle.pink h1{
	color:#FFF;
	text-shadow: 0px 0px 10px #ff4752;
	-moz-box-shadow:0px 0px 10px #ff4752;
　/* Firefox用 */  
-webkit-box-shadow: 0px 0px 10px #ff4752;
　/* Safari,Google Chrome用 */
}
.dataStyle h2 {
	margin:15px 0px 5px 0px;
	color:#f52981;
	/*border-bottom:#f52981 1px dotted;
	padding-left:10px;
	border-left:#f52981 5px solid;*/
	font-size:20px;
	font-weight:bold;
	text-shadow: 0px 0px 6px #ffa5aa;
	-moz-box-shadow:0px 0px 6px #ffa5aa;
　/* Firefox用 */  
-webkit-box-shadow: 0px 0px 6px #ffa5aa;
　/* Safari,Google Chrome用 */
}
.dataStyle.pink h2{
	margin:0px 0px 5px 0px;
}
.dataStyle p.txt {
	margin-bottom:10px;
	font-size:19px;
	line-height:1.3em;
}
.dataStyle a {
	color:#f52981;
}
.dataStyle a:hover {
	color:#f52981;
	text-decoration:none;
}
.dataStyle .close {
	width:120px;
	height:120px;
	background:url(images/kag/menu_button_close.png) left top no-repeat;
	position:absolute;
	right:-5px;
	top:-5px;
	cursor:pointer;
}
/*IE用制御
キャラの表情変換のイメージの高さがとってこれない問題についての強制回避*/

img.moutoku_face {
	width:368px;
	height:540px;
	/*background:url(../data/fgimage/moutoku/moutoku.png) top left no-repeat;*/
}
img.hana_face {
	width:275px;
	height:540px;
	/*background:url(../data/fgimage/hana/hana.png) top left no-repeat;*/
}

.current_span a{
	color:#FCC;
	font-weight:bold;
	cursor:pointer;
}
.menu_window_close a{
    position: absolute;
    right: 0px;
    top: 435px;
    z-index: 10000; 
	display:block;
	width:85px;
	height:108px;
	background:url(images/kag/icon_common.png) 0px -314px no-repeat;
	cursor:pointer;
}
.menu_window_close a:hover{
	background:url(images/kag/icon_common.png) -80px -314px no-repeat;
}
.menu_map a{
	display:block;
	width:85px;
	height:108px;
	background:url(images/kag/icon_common.png) 0px -206px no-repeat;
    position: absolute;
    right: 0px;
    top: 330px;
    z-index: 10000; 
	cursor:pointer;
}
.menu_map a:hover{
	background:url(images/kag/icon_common.png) -80px -206px no-repeat;
}
/*バックログの見栄え*/
.logList {
	background-color: rgba(255, 255, 255, 0.85);
	border: 1px solid #FFFFFF;
	height: 480px;
	margin: 18px 0px 0 0;
	overflow: auto;
	padding: 10px 10px 10px 0px;
	width: 680px;
	clear: both;
}
.logList .viewport {
	width: 660px;
	height: 480px;
	overflow: hidden;
	position: relative;
}
.logList .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
}
.logList .thumb .end, .logList .thumb {
	/*background-color: #FA4753;
	background:url(images/kag/commonItem.png) right 20px no-repeat;*/
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb5b5), color-stop(50%, #FF9193), to(#ffb5b5));
    background: -webkit-linear-gradient(-90deg,#ffb5b5 0%,#FF9193 50%,#ffb5b5 100%);
    background: -moz-linear-gradient(-90deg,#ffb5b5 0%,#FF9193 50%,#ffb5b5 100%);
    background: -o-linear-gradient(-90deg,#ffb5b5 0%,#FF9193 50%,#ffb5b5 100%);
    background: -ms-linear-gradient(-90deg,#ffb5b5 0%,#FF9193 50%,#ffb5b5 100%);
    background: linear-gradient(-90deg,#ffb5b5 0%,#FF9193 50%,#ffb5b5 100%);
}
.logList .scrollbar {
	position: relative;
	float: right;
	width: 15px;
}
.logList .track {
	background-color:#fff;
	height: 100%;
	width:13px;
	position: relative;
	padding: 0 1px;
}
.logList .thumb {
	height: 20px;
	width: 13px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
}
.logList .thumb .end {
	overflow: hidden;
	height: 5px;
	width: 13px;
}
.logList .disable {
	display: none;
}
.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.logList dl {
	clear:both;
	zoom:100%;
	padding-bottom:8px;
	color:#000;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:100%;
}
.logList dl:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.logList dt {
	float:left;
	width:17%;
	text-align:right;
	font-weight:bold;
	color:#000;
	text-shadow:0 0 20px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
}
.logList dd {
	float:right;
	width:76%;
	text-align:left;
	padding-right:6%;
	font-weight:normal;
}
#mapAreaWrap{
	width:960px;
	height:540px;
	background:url(images/kag/menu_save_bg.png) left top no-repeat;
	z-index:100000;
	top:0px;
	right:0px;
	position:absolute;
	cursor:auto;
}

#mapArea .mapLink{
	position:relative;
	background:url(../data/bgimage/mapImage.gif) 20px 30px no-repeat;
	height:530px;
	width:770px;
}
#mapArea .mapLink span{
	display:block;
	position:absolute;
	cursor:pointer;
}
span.select{
	/*border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border:3px dashed #FF0084;*/
}
span.ryousyu{
	top:150px;
	left:45px;
	height:50px;
	width:180px;
}
span.ryousyu.select{
	background:url(../data/bgimage/ryousyu.gif) no-repeat;
}
span.kancyu{
	top:220px;
	left:140px;
	height:50px;
	width:100px;
}
span.kancyu.select{
	background:url(../data/bgimage/kancyu.gif) no-repeat;
}

span.yucyu{
	top:280px;
	left:170px;
	height:50px;
	width:100px;
}span.yucyu.select{
	background:url(../data/bgimage/yucyu.gif) no-repeat;
}

span.cyouan{
	top:160px;
	left:250px;
	height:50px;
	width:80px;
}span.cyouan.select{
	background:url(../data/bgimage/cyouan.gif) no-repeat;
}


span.rakuyou{
	top:120px;
	left:340px;
	height:50px;
	width:80px;
}span.rakuyou.select{
	background:url(../data/bgimage/rakuyou.gif) no-repeat;
}

span.kyoto{
	top:140px;
	left:420px;
	height:50px;
	width:80px;
}span.kyoto.select{
	background:url(../data/bgimage/kyoto.gif) no-repeat;
}

span.gyou{
	top:70px;
	left:450px;
	height:50px;
	width:80px;
}span.gyou.select{
	background:url(../data/bgimage/gyou.gif) no-repeat;
}

span.seisyu{
	top:100px;
	left:575px;
	height:50px;
	width:180px;
}span.seisyu.select{
	background:url(../data/bgimage/seisyu.gif) no-repeat;
}

span.gappi{
	top:230px;
	left:510px;
	height:50px;
	width:80px;
}span.gappi.select{
	background:url(../data/bgimage/gappi.gif) no-repeat;
}

span.cyugen{
	top:210px;
	left:390px;
	height:50px;
	width:100px;
}span.cyugen.select{
	background:url(../data/bgimage/cyugen.gif) no-repeat;
}


span.ekisyu{
	top:390px;
	left:100px;
	height:50px;
	width:100px;
}span.ekisyu.select{
	background:url(../data/bgimage/ekisyu.gif) no-repeat;
}

span.keisyu{
	top:450px;
	left:300px;
	height:50px;
	width:100px;
}span.keisyu.select{
	background:url(../data/bgimage/keisyu.gif) no-repeat;
}

span.yousyu{
	top:390px;
	left:565px;
	height:50px;
	width:180px;
}span.yousyu.select{
	background:url(../data/bgimage/yousyu.gif) no-repeat;
}

.wrapMapList{
	position:absolute;
	right:20px;
	top:140px;
	width:150px;
	color:#000;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:130%;
	/*background-color: rgba(255, 255, 255, 0.85);*/
	background-color:#FFF;
	border: 1px solid #f86669;
}
.wrapMapList dt{
	font-weight:bold;
	border-bottom:#f86669 1px solid;
	margin-bottom:10px;
	padding-bottom:10px;
}
.wrapMapList dl{
	margin:10px 10px 10px 10px;
}

.menu_chara a{
	display:block;
	width:85px;
	height:108px;
	background:url(images/kag/icon_common.png) 0px -98px no-repeat;
    position: absolute;
    right: 0px;
    top: 220px;
    z-index: 10000; 
	cursor:pointer;
}
.menu_chara a:hover{
	background:url(images/kag/icon_common.png) -80px -98px no-repeat;
}
.hiddenChara .menu_chara a{
	background:url(images/kag/icon_common.png) -3px 9px no-repeat;
}
.hiddenChara .menu_chara a:hover{
	background:url(images/kag/icon_common.png) -83px 9px no-repeat;
}
.hiddenChara div img.tyrano_chara{
	visibility:hidden;
}
.display_menu{
	background:url(images/kag/menu_common.gif) 0px 0px no-repeat;
}



/*IE用制御
キャラの表情変換のイメージの高さがとってこれない問題についての強制回避*/
img.kanaup_face{
	width:auto;
	height:540px;
}
img.cutin{
	width:494px;
	height:354px;
}